@font-face {
    font-family:"silk regular" ;
    src: url("fonts/silkserif-regularitalic-webfont.woff");
}

@font-face {
    font-family: "Plain Light";
    src: url("fonts/plain-light-webfont.woff");
}

@font-face {
    font-family: "Plain Regular";
    src: url("fonts/plain-regular-webfont.woff");
}

@font-face {
    font-family: "silk light";
    src: url("fonts/silkserif-lightitalic-webfont.woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;    
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #030303;
}

#crsr{


    position: fixed;
    height: 2.5vw;
    width: 2.5vw;
    border: 1px solid #ffffff87;
    border-radius: 50%;
    /* background-color: #fff; */
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 8vw;
}


.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-family: "silk regular";
}

#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2{
    font-size: 5.1vw;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "silk regular";
    opacity: 0;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "Silk regular";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Silk regular";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
}

main{
    position: relative;
    background-color: #030303;
    
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 5vw;
}

nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 400;
    text-transform:capitalize;
}
.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 15vh;
}
.hero h1{
    font-size: 7.8vw;
    line-height: 8vw;
    font-weight: 500;
}
.hero h2{
    font-size: 7.8vw;
    line-height: 8vw;
    font-weight: 500;
    text-decoration: underline;
}


.hero h2:hover{
    color: transparent;
    -webkit-text-stroke:1px  white;
    text-decoration: none;

}


#page2{
    height: 100vh;
    width: 100%;
    background-color:#151515;
}

#video-container{
    height: 65vh;
    overflow: hidden;
    width: 71vw;
    position: relative;
    left: 28%;
}

#video-cursor{
    position: absolute;
    top: 0%;
    left: 80%;
    width: 10vw;
    height: 10vw;
    background-color: #FFA63D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#video-cursor i{
    font-size: 3vw;
    color: #fff;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    object-fit: cover;
    top: 0;
    left: 0;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

#page4-content{
    width: 70vw;
    margin-left: 28%;
}
#page4-content #title{
    font-size: 7.5vw;
    font-weight: 600;
    text-transform: uppercase;
}

#underline{
    width: 95%;
    height: 0.1vw;
    background-color: #ffffff;
    margin-top: 5vw;
    margin-bottom: 3vw;
}

#page4-content p{
    font-size: 2.2vw;
    font-weight: 500;
    width: 80%;
}

#page4-flex{
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-top: 2vw;
    gap: 2vw;
}


#page4-flex img{
    object-fit: cover;
    width: 40vw;
    height: 80vh;
}
#page4flex-text{
    /* background-color: red; */
    width: 50%;
    height: 100%;
    gap: 2vw;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

#page4flex-text p{
    width: 65%;
    font-size: 1.3vw;
    font-weight: 500;
}

#bluediv{
    position: absolute;
    background-color: #3F7DF4;
    width: 35%;
    right: 12%;
    padding: 3vw 2vw;
    top: 60%;
}

.bluedivelem{
    display: flex;
    height: 8vw;
    align-items: center;
    gap: 1vw;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
    border-bottom: 2px solid white;
}

.bluedivelem h3{
    font-size: 2vw;
    width: 60%;
    font-weight: 500;
}

.bluedivelem h4{
    font-size: 1.2vw;
    width: 40%;
    font-weight: 500;
}

#underline2{
    width: 95%;
    height: 1px;
    margin-top : 45vw;    
    background-color: white;
}

#page4-content h4{
    margin-top: 1vw;
    font-size: 1.3vw;
    font-weight: 500;
}